<app-home></app-home>
<mat-card class="example-card">
    <div>
        <mat-card-header>
            <mat-card-title class="title">
                שלום {{userFirstName}} {{userLastName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p> עליך למלא את כל הפרטיים האישים שלך,</p>
            <p> פרטי ילדים אינם שדות חובה.</p>
            <p> אם ברצונך להוסיף עוד ילד לחץ על הכפתור להוספת ילד </p>
            <p> לשמירה לחץ על הוספתך למערכת</p>
        </mat-card-content>
    </div>
</mat-card>